table(id="boardtable")
  tbody
    each row in board
      tr
        each col in row
          td
            if col.isTable
              div(id="gamestatusmessage") Game status: #{col.gamestatus}
              div(id="activetrades")
              div(id="messages")
            else
              div(class=col.isMe ? "me" : "someone", data-id="#{col.uid}")
                if !col.isMe
                  button(class="bidButton", onclick="acceptBid('#{col.uid}'", value="0")

                ul(class="cardlist")
                  each card in col.cards
                    li(class="card", data-id="#{card.text}" onclick="selectCard(this)")
                      if col.isMe
                        span card.text
                      img(src=card.img)
                
                if col.isMe
                  input(id="bidCount", type="text", name="title", value="3")
                  button(id="setBid", onclick="setBid('#{col.uid}')", value="Set Bid")
                
                  if col.activeTrade != null
                    button(id="sendCards", onclick="sendCards()", value="Send Cards")
                

