div(id="boarddiv")
  input(type="text" class="hidden" id="gamestatus" value=game.status)
  input(type="text" class="hidden" id="gamewinner" value=game.winner)
  table(id="boardtable")
    tbody
      each row in board
        tr
          each col in row
            td
              if col == null
                p &nbsp;
              else if col.isTable
                div(id="activetrades", class=col.canStart ? "hidden" : "")
                if (col.canStart)
                  button(onclick="startGame()", class="startbutton") Start Game
                div(id="messages", class=col.canStart ? "hidden" : "")
              else
                div(class=col.isMe ? "me" : "someone", data-id="#{col.uid}")
                  h3 #{col.name}

                  if col.isMe
                    input(type="text" class="hidden" id="mytrade" value=col.activeTrade)

                  if col.isMe || board[2][1].activeTrade != null || col.currentBid == 0 || col.activeTrade != null || game.status != 'Running'
                    button(class="bidButton", disabled="disabled", onclick=col.isMe ? "" : "acceptBid('#{col.uid}', this)") #{col.currentBid}
                  else
                    button(class="bidButton", onclick="acceptBid('#{col.uid}', this)") #{col.currentBid}

                  if col.isMe
                    input(id="bidCount", type="text", name="title", value="3")
                    button(id="setBid", onclick="setBid('#{col.uid}')") Set
                  
                    if col.activeTrade != null
                      button(id="sendCards", onclick="sendCards()") Send Cards
                    else
                      button(id="sendCards", disabled="disabled", onclick="sendCards()") Send Cards

                  ul(class="cardlist")
                    each card in col.cards
                      li(class="card", data-id="#{card.text}" onclick=col.isMe ? "selectCard(this)" : "")
                        if col.isMe
                          span #{card.text}
                        img(src=card.img)
                  

