extends layout

block content
  div.homepage
    form(id='joinform', method='POST' action='/joingame')
      h1 Join Game
      div.form-group
        div(for='playername') Name:
        input#name.form-control(type='text', placeholder='' name='name' required='true' value="#{randomname}" )
        input#joingameid.form-control(type='hidden', placeholder='' name='joingameid' required='true' value=joingameid )
      div.form-group
        div(for='joingameid') Game:
        table(class="gamelist")
          each game in games
            tr
              td(onclick="document.getElementById('joingameid').value = '#{game.name}'; document.getElementById('joinform').submit();") #{game.name}
              if (isAdmin)
                td
                  select
                    each winner in game.history
                      option(value="#{winner}") #{winner}
      
      button.btn.btn-primary(type='submit') Join


    if (isAdmin)
      form(method='POST' action='/newgame')
        h1 New Game
        div.form-group
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='' name='name' required='true' value='' )
        div.form-group
          label(for='playerCount') # of Players:
          input#playerCount.form-control(type='text', placeholder='' name='playerCount' required='true' value='' )
        button.btn.btn-primary(type='submit') Create